<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.dylan.mapper.DylanLiuliMapper">
    
    <resultMap type="com.ruoyi.dylan.domain.DylanLiuli" id="DylanLiuliResult">
        <result property="id"    column="id"    />
        <result property="liuliLink"    column="liuli_link"    />
        <result property="btLink"    column="bt_link"    />
        <result property="liuliTitle"    column="liuli_title"    />
        <result property="liuliCat"    column="liuli_cat"    />
        <result property="publishTime"    column="publish_time"    />
        <result property="publishAuthor"    column="publish_author"    />
        <result property="subContent"    column="sub_content"    />
        <result property="content"    column="content"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDylanLiuliVo">
        select distinct dl.id, dl.liuli_link, dl.bt_link, dl.liuli_title, dl.liuli_cat, dl.publish_time, dl.publish_author, dl.sub_content, dl.content, dl.del_flag, dl.create_by, dl.create_time, dl.update_by, dl.update_time from dylan_liuli dl
        left join dylan_liuli_tag dlt on dl.id = dlt.liuli_id
        left join dylan_tag dt on dlt.tag_id = dt.id
    </sql>

    <select id="selectDylanLiuliList" parameterType="com.ruoyi.dylan.bo.DylanLiuliBo" resultMap="DylanLiuliResult">
        <include refid="selectDylanLiuliVo"/>
        <where>  
            <if test="liuliLink != null  and liuliLink != ''"> and dl.liuli_link like concat("%", #{liuliLink}, "%")</if>
            <if test="btLink != null  and btLink != ''"> and dl.bt_link like concat("%", #{btLink}, "%")</if>
            <if test="liuliTitle != null  and liuliTitle != ''"> and (dl.liuli_title like concat("%", #{liuliTitle}, "%") or dl.sub_content like concat("%", #{liuliTitle}, "%") or dl.content like concat("%", #{liuliTitle}, "%"))</if>
            <if test="content != null  and content != ''"> and content like concat("%", #{content}, "%")</if>

        </where>
        order by publish_time desc
    </select>
    
    <select id="selectDylanLiuliById" parameterType="Long" resultMap="DylanLiuliResult">
        <include refid="selectDylanLiuliVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDylanLiuli" parameterType="DylanLiuli">
        insert into dylan_liuli
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="liuliLink != null">liuli_link,</if>
            <if test="btLink != null">bt_link,</if>
            <if test="liuliTitle != null">liuli_title,</if>
            <if test="content != null">content,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="liuliLink != null">#{liuliLink},</if>
            <if test="btLink != null">#{btLink},</if>
            <if test="liuliTitle != null">#{liuliTitle},</if>
            <if test="content != null">#{content},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDylanLiuli" parameterType="DylanLiuli">
        update dylan_liuli
        <trim prefix="SET" suffixOverrides=",">
            <if test="liuliLink != null">liuli_link = #{liuliLink},</if>
            <if test="btLink != null">bt_link = #{btLink},</if>
            <if test="liuliTitle != null">liuli_title = #{liuliTitle},</if>
            <if test="content != null">content = #{content},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDylanLiuliById" parameterType="Long">
        delete from dylan_liuli where id = #{id}
    </delete>

    <delete id="deleteDylanLiuliByIds" parameterType="String">
        delete from dylan_liuli where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>